* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bi {
    font-size: 1.5rem;
    color:  rgb(196, 232, 247);
}

input[type="text"] {
    width: 100%;
    max-width: 100px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
}

::placeholder {
    font-size: 1.2rem;
    color: rgb(176, 176, 176);
}

label {
    margin: .5rem;
}

/* Cabeçalho */
#header {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#logo {
    font-size: 3rem;
    color:  rgb(11, 179, 251);
}

/* Main Container */
#main {
    padding: 0 .5rem;
}

/* Seções */
.containers {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;   
    text-align: center;
}    
    /* Containers */
.title-containers {
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(123, 123, 123, 0.314);
}

/* Input Containers */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.input-sub-container {
    display: flex;
    flex-direction: column;
}

/* Informação de Resultado */
.inform-result {
    padding: .5rem 0;
    border-top: 1px solid rgba(123, 123, 123, 0.314);
    font-size: 1rem;
    font-style: italic;
    color: rgb(11, 179, 251); 
}

/* Melhor Preço Gasoline x Alcool */
#input-container-fuels {
    
}

.input-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="button"] {
    width: 100%;
    padding: 1rem;
    background-color:  rgb(11, 179, 251);
    border-radius: 5px;
    border: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

/* Width: 360px */
@media (max-width: 360px){

    h1{
        font-size: 1.5rem;
    }

    #logo {
        font-size: 2rem;
    }

    .title-containers {       
        font-size: 1.2rem;
        
    }

    ::placeholder {
        font-size: 1rem;
    }

    label {
        font-size: .9rem;
        margin: .5rem;
    }
}