* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    color: #A5ADB9;
}

body {
    min-height: 100vh;
    background-color: #212529;
    /* background-image: linear-gradient(to top, #212529, #212529, #212529, #212529, #4e3d7c); */
    /* border: 2px solid red; */
}

header {
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    /* max-width: 1200px; */

    /* border: 1px solid red; */
}

#box-logo-header {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#box-logo-header p {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;
    /* text-shadow: 2px 1px rgb(172, 172, 172); */

    color: rgb(255, 255, 255);
}

.fa-solid.fa-car-side {
    font-size: 1.5rem;
    color: white;
}


h2 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #d2d6d8;
    text-align: initial;
    margin-bottom: 1.8rem;
}

h3 {
    font-size: 1.1rem;
    color: #b1b9c0;
}

#top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    background: rgb(33, 38, 41);

    /* background-image: linear-gradient(to top, #212529, #1b2736, #182743, #1e264e, #2c2256, #36235d, #412464, #4d246a, #522e76, #573782, #5c418f, #604b9b); */
    background-image: linear-gradient(to top, #212529, #222e35, #21383f, #1f4248, #1d4c4e);

    /* background-image: linear-gradient(to top, #212529, #212f3f, #233856, #2c406c, #3e4682, #464486, #504188, #5a3e8a, #55347e, #502a72, #4b2066, #45165a);    background-image: linear-gradient(to top, #212529, #202c3a, #22324b, #28375b, #353b6b, #3e3f7b, #49438b, #57469a, #5c4db1, #5f55c9, #605de2, #5f66fb); */

    /* border: 2px solid red; */
}


#box-description-app {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}

#description-app {
    padding: 1 3rem;
}

#description-app p {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 3rem;
    /* color: rgb(79, 161, 172); */

}

#description-app span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    color: white;
}

/* Container */
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 800px;
    margin-top: 5rem;

    /* border: 2px solid blue; */
}

.orbit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    /* border: 1px solid #d2d6d831;     */
}

.description-option {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 2rem 2rem;
    border: 1px solid #d2d6d831;
    border-radius: 10px;
}

.description-option p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.calculator {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid #d6e7f82a;
    margin-bottom: 1.5rem;

    /* border: 1px solid red; */
}

.headers-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.1rem 1rem;
    border-bottom: 1px solid #d6e7f836;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* background-color: #2B3035; */
}

.headers-calculator, .bi {
    font-size: 2rem;
}

.title-calculator {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;

    /* border: 1px solid red; */
}

.title-calculator i {
    color: #ffffff;
}

.controls {
    padding: 1rem 1.5rem;
    background-color: #2B3035;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#control-select-fuel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

#control-select-fuel select {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
}

#control-select-fuel select option {
    background-color: #495057;
    color: #b1b9c0
}

#control {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding: .5rem 0;
    font-size: .9rem;
}

.control-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.control-inputs label {
    font-size: 1rem;
    text-align: center;
}

.control-inputs input {
    display: flex;
    flex-direction: row;
    width: 90px;
    padding: .5rem;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8D949B;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.control-inputs input::placeholder {
    font-size: 1.3rem;
    opacity: .7;
}

.controls-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background-color: transparent;
    border: 0;
    min-width: 120px;
    min-height: 45px;
    font-size: .9rem;
    font-weight: 500;
    transition: 500ms;
    border-radius: 5px;
}

.btn {
    color: #56B6A7;
    border: 1px solid #56B6A7;
}

.btn:hover {
    background-color: #56B6A7;
    color: #ffffff;
}

.btn.btn-reset:hover {
    background-color: #c62929;
    color: white;
}

.btn.btn-reset {
    color: #c62929;
    border: 1px solid #c62929;
}

#btn-reset-average, #btn-reset-best-price {
    display: none;
}

.box-results {
    width: 100%;
    max-width: 500px;
    height: 79px;
}

/* Resultado */
#result1, #result2 {
    max-width: 500px;
    border-radius: 5px;
}

.header-results {
    padding: .4rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.header-results p {
    margin-top: 0%;
}

.body-results {
    display: flex;
    gap: .2rem;
    padding: .5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body-results p, span {}

.value-results span {
    font-weight: 400;
}

.fuel-results span {
    font-weight: 400;
}

/* Color Gasolina */
.alcohol-colors-result {
    border: 1px solid #c1fcc436;
    background-color: #c1fcc413;
}

.alcohol-colors-header {
    border-bottom: 1px solid #c1fcc436;
}

.alcohol-text-colors {
    color: #c1fcc45e;
}

.alcohol-span-colors {
    color: #a4fca85e;
}

/* Color Álcool */
.diesel-colors-result {
    border: 1px solid #8bb9fe41;
    background-color: #8bb9fe1c;
}

.diesel-colors-header {
    border-bottom: 1px solid #8bb9fe41;
}

.diesel-text-colors {
    color: #7291be;
}

.diesel-span-colors {
    color: #7291be;
}

/* Color Diesel */
.gasoline-colors-result {
    border: 1px solid #f7ba4844;
    background-color: #f7b94817;
}

.gasoline-colors-header {
    border-bottom: 1px solid #f7ba4844;
}

.gasoline-text-colors {
    color: #f7ba488f;
}

.gasoline-span-colors {
    color: #f7ba488f;
}


/* Responsividade */
@media(max-width: 480px) {
    #description-app {
        padding: 1rem;
    }

    #description-app p {
        text-align: justify;
    }

    .description-option {
        width: calc(100% - .7rem);
        padding: 1.5rem;
    }

    .description-option p {
        /* font-size: 1.2rem; */
    }

    h2 {
        font-weight: 500;
        text-align: center;
    }

    .calculator {
        width: calc(100% - .7rem);
    }
}