* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    color: #A5ADB9;
}

body {
    min-height: 100vh;
    background-color: #212529;
    /* background-image: linear-gradient(to top, #212529, #212529, #212529, #212529, #4e3d7c); */
}

header {
    /* border: 1px solid red; */
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    position: sticky;
    top: 0;
    width: 100%;
}

#nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: min(100%, 1280px);
    padding: 1rem;
}

#box-logo p {
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;
}

#box-logo p, .fa-car-side {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-left: .5rem;
}

#box-repository a {
    text-decoration: none;
}

#box-repository p, .fa-code {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #d2d6d8;
    text-align: initial;
    margin-bottom: 1.8rem;
}

h3 {
    font-size: 1.1rem;
    color: #b1b9c0;
}

#top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    background: rgb(33, 38, 41);
    background-image: linear-gradient(to top, #212529, #222e35, #21383f, #1f4248, #1d4c4e);
}

#box-description-app {
    width: min(100%, 1000px);
    text-align: center;
}

#description-app {
    padding: 1 3rem;
}

#description-app p {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 3rem;
}

#description-app span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    color: white;
}

/* Container */
#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 800px;
    margin-top: 5rem;
}

.orbit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.description-option {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 2rem 2rem;
    border: 1px solid #d2d6d831;
    border-radius: 10px;
}

.description-option p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.calculator {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    border: 1px solid #d6e7f82a;
    margin-bottom: 1.5rem;
}

.headers-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.1rem 1rem;
    border-bottom: 1px solid #d6e7f836;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headers-calculator, .bi {
    font-size: 2rem;
}

.title-calculator {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

.title-calculator i {
    color: #ffffff;
}

.controls {
    padding: 1rem 1.5rem;
    background-color: #2B3035;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#control-select-fuel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1rem;
}

#control-select-fuel select {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
}

#control-select-fuel select option {
    background-color: #495057;
    color: #b1b9c0
}

#control {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    padding: .5rem 0;
    font-size: .9rem;
}

.control-inputs {
    display: flex;
    align-items: end;
    gap: .5rem;
    margin-bottom: 1rem;

    /* border: 1px solid red; */
}

.control-inputs label {
    font-size: 1rem;
    text-align: center;
}

.control-inputs input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8D949B;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.control-inputs input::placeholder {
    font-size: 1.3rem;
    opacity: .7;
}

.controls-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background-color: transparent;
    border: 0;
    min-width: 120px;
    min-height: 45px;
    font-size: .9rem;
    font-weight: 500;
    transition: 500ms;
    border-radius: 5px;
}

.btn {
    color: #56B6A7;
    border: 1px solid #56B6A7;
}

.btn:hover {
    background-color: #56B6A7;
    color: #ffffff;
}

.btn.btn-reset:hover {
    background-color: #c62929;
    color: white;
}

.btn.btn-reset {
    color: #c62929;
    border: 1px solid #c62929;
}

#btn-reset-average, #btn-reset-best-price {
    display: none;
}

.box-results {
    width: 100%;
}

/* Resultado */
#result1, #result2 {
    margin: 0 auto;
    max-width: 450px;
    height: 79px;
    border-radius: 7px;
}

.header-results {
    padding: .4rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.header-results p {
    margin-top: 0%;
}

.body-results {
    display: flex;
    gap: .2rem;
    padding: .5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body-results p, span {}

.value-results span {
    font-weight: 400;
}

.fuel-results span {
    font-weight: 400;
}

/* Color Gasolina */
.gasoline-colors-result {
    border: 1px solid #f7ba4844;
    background-color: #f7b94817;
}

.gasoline-colors-header {
    border-bottom: 1px solid #f7ba4844;
}

.gasoline-text-colors {
    color: #f7ba488f;
}

.gasoline-span-colors {
    color: #f7ba488f;
}

/* Color Álcool */
.alcohol-colors-result {
    border: 1px solid #c1fcc436;
    background-color: #c1fcc413;
}

.alcohol-colors-header {
    border-bottom: 1px solid #c1fcc436;
}

.alcohol-text-colors {
    color: #c1fcc45e;
}

.alcohol-span-colors {
    color: #a4fca85e;
}

/* Color Diesel */
.diesel-colors-result {
    border: 1px solid #8bb9fe41;
    background-color: #8bb9fe1c;
}

.diesel-colors-header {
    border-bottom: 1px solid #8bb9fe41;
}

.diesel-text-colors {
    color: #7291be;
}

.diesel-span-colors {
    color: #7291be;
}

/* None */
.noneClass {
    color: #b1b9c0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 400px;
    margin-top: 3rem;
    background-image: linear-gradient(to bottom, #212529, #232b35, #253241, #27384d, #2b3e5a);
}

#footer i {
    font-size: 2rem;
    color: #b9bbbe;
}

/* Responsividade */
@media (max-width: 480px) {

    #top-container, .orbit {
        padding: .8rem;
    }

    /* Description-app */
    #top-container P {
        text-align: justify;
    }

    /* Description-option */
    .description-option {
        padding: 1em;
    }

    .description-option p {}

    h3 {
        font-size: 1.1rem;
    }

    .control-inputs {}

    .control-inputs label {
        font-size: .8rem;
        text-align: start;
    }

    .control-inputs input {
        /* max-width: 50px; */
        font-size: 1.2rem;
    }

    .control-inputs input::placeholder {
        font-size: 1.1rem;
        text-align: center;
    }

    #control-select-fuel {}
}

@media (max-width: 380px) {

    /* Description-option */
    .description-option {
        padding: 1em;
    }


    .headers-calculator, .bi {
        font-size: 1.5rem;
    }

    #control {
        padding: 0;
    }

    h3 {
        font-size: 1rem;
    }

    .control-inputs label {
        font-size: .8rem;
    }

    .control-inputs input {
        max-width: 50px;
        font-size: 1rem;
    }
}